body{
  font-family:  monospace, sans-serif;
  background: burlywood;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

ul{
  padding: 0;
  margin: 10px;
}

a{
  text-decoration: none;
  color: teal;
}

li{
  list-style-type: none;
  margin-bottom: 10px;
}
.languages{
  display: flex;
  justify-content: center;
}
.languages li{
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.popular-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item{
  margin: 20px;
  text-align: center;
}

.space-list-items{
  margin-bottom: 7px;
}

.avatar{
  width: 150px;
  border-radius: 50%;
}
.loading{
  display: flex;
  margin: 400px;
  padding: 150px;
  align-items: center;
}

.nav{
  display: flex;
  justify-content: center;
}

.active{
  font-weight: bold;
}

.nav li{
  margin-right: 15px;
}
